body {
    font-family: "Helvetica", "Arial", "sans-serif";
    background-color: #333;
    color: #eee;
    font-size: 0.85em;
}
h2 {
    font-weight: normal;
    margin-top: 1.5em;
    clear: right;
}
h2 #keynum {
    color: #fd3;

}
table, th, td {
    border: 1px solid black;

}
table, tr {
    background-color: #6f7b88;
}
.even {
    background-color: #5E6972;
}
a {
    color: #c02;
}
td {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.label {
    font-weight: bold;
}

ul {
}
li {
    white-space: nowrap;
}
.defaulthidden {
    display: none;
}
.moreclick {
    border: 1px;
    border-color: white;
    background-color: #702;
	cursor: pointer;
}
.moreclick:hover {
	background-color: #207;
}
.debug {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #822;
    display: none;
    white-space: pre-wrap;
}
#searchbox {
    float: right;
    padding: .5em;
}
.footer {
    margin-top: 3em;
    clear: both;
}

span.modulus, span.signature, span.serialnumber, span.akid {
	font-family: monospace;
}

#googleCatalog {
    display: none;
    font-weight: bold;
    padding-left: 5px;
}

#googleCatalog.known {
    display: inline;
    color: green;
}

#googleCatalog.unknown {
    display: inline;
    color: red;
}

abbr, .withReverseDnsInfos {
    border-bottom: 1px dotted darkgrey;
}
